center {
  padding: 250px 0;
}
.buttons {
  padding: 10px 0;
}
button {
  color: black;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin: 10px;
  background-size: auto;
  width: 15%;
  padding: 10px 16px;
  text-align: center;
}
input {
  background-color: white;
  border-radius: 15px;
  width: 50% 
}
